<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="outer-wrapper flex">
        <div class="inner-wrapper">
            <h2>Add Products!</h2>
            <form action="/add-product" method="POST" onsubmit="">
                <input type="text" name="name" placeholder="Enter your Product name"  required>
                <input type="number" name="quantity" placeholder="0"  required>
                <span>
                <label for="unit"><b>Unit:</b></label>
                <input type="radio" name="unit" value="unit" required>unit
                <input type="radio" name="unit" value="Kgs" required>Kgs
                <input type="radio" name="unit" value="gms" required>gms
                <input type="radio" name="unit" value="mg" required>mg
                <input type="radio" name="unit" value="lits" required>lits
                </span>
                <input class="submit-btn" type="submit" value="Add Product"/>
            </form>
        </div>
        <div class="inner-wrapper">
            <% if(products.length>0){ %>
                <% products.forEach((product)=>{ %>
                    <div class="product-card">
                    <p><%= product.name %> - <%= product.quantity%> <%= product.unit %></p>
                    <button class="del-btn">DEL</button>
                    </div>
                <% }) %>
            <% }else{%>
                <div>Add Products</div>
            <% }%>
        </div>
    </div>
</body>
</html>